.list-bar-arrange {
    float: left;
    display: flex;
    justify-content: flex-start;
}

.list-bar-menu-item {
    font-size: 20px;
    height: 100%;
    align-items: center;
    display: flex;
    margin-left: 0px;
    margin-right: 45px;
}

.list-bar-menu-item a{
    color: #f5f5f5;
}
