.side-bar {
    background-color: #232125;
    width: 5%;
    height: 100%;
    display: flex;
    position:absolute;
    top: 0px;
    left: 0px;
    transition: 850ms;
}

.side-bar.active {
    width: 20%;
    transition: 0ms;
    z-index: 2;
}

.side-bar-icon {
    width: 20px;
    height: 20px;
    align-items: left;
    margin-right: 12px;
}

.side-bar-item {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-left: -45px;
    height: 60px;
}

.icon-setting {
    text-decoration: none;
    margin-left: -5px;
    /*  */
    position: absolute;
    bottom: 50px;
}
