/* 홈 화면에 필요한 css */

.box {
    width: 90vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -45vw;
    margin-top: -40vh;
}
.list-bar {
    background-color: #323132;
    width: 95%;
    height: 15%;
    display: flex;
    position:absolute;
    left:5%;
}
.contents {
    background-color:#37383d;
    width: 95%;
    height: 85%;
    position: absolute;
    top:15%;
    left:5%;
}